{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Inscription</h1>
    <form action="{{ url_for('register') }}" method="POST">
        <p>
            <label for="nom">Nom d'utilisateur :</label>
            <input type="text" name="nom" id="nom" required>
        </p>
        <p>
            <label for="mdp">Mot de passe :</label>
            <input type="password" name="mdp" id="mdp" required>
        </p>
        <p>
            <input type="submit" value="S'inscrire">
        </p>
        <p>Déjà inscrit ? <a href="{{ url_for('login') }}">Se connecter</a></p>
    </form>
</div>
{% endblock %}
